// View breakpoint
$breakpoint-xl: 1441px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;

$colors: (
  "primary": #861f11,
  "accent": #aa612e,
  "hightlight": #85a28b,
  "hightlight2": #e4bd62,
  "shade": #63322d,
  "fade": #442d25,
  "text": #d4d4bd,
  "darker": #1e1e1e,
  "background": #303030,
);

$colors2: (#867e5a, #cb4c1e, #936645, #d08e42, #884a3a, #a29b90);
